.mapModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.mapBox {
  background: #fff;
  padding: 15px;
  width: 90%;
  max-width: 600px;
  border-radius: 10px;
}

.locBtn {
  margin-bottom: 10px;
}

.actions {
  margin-top: 10px;
  text-align: right;
}
