@import "./responsive.scss";

.layout{
    background-color: rebeccapurple;
    height: 100vh;
    max-width: 1366px;
    margin-left: auto; 
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;

    @include lg{
        background-color: rgb(149, 111, 97);
        max-width: 1280px;
    }
    @include md{
        background-color: rgb(128, 139, 158);
        max-width: 768px;
    }
    @include sm{
        background-color: rgb(171, 111, 111);
        max-width: 640px;
    }

    .content{
        background-color: rebeccapurple;
        flex: 1;
    }

}